<h4 class="text-center">Registre-se e mostre seu pet para o mundo!</h4>

<form class="form mt-4">
  <div class="form-group">
    <input class="form-control" type="email" placeholder="E-mail" />
  </div>

  <div class="form-group">
    <input class="form-control" type="text" placeholder="Nome Completo" />
  </div>

  <div class="form-group">
    <input class="form-control" type="text" placeholder="Usuário" />
  </div>

  <div class="form-group">
    <input class="form-control" type="password" placeholder="Senha" />
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já está cadastrado? <a [routerLink]="['']">Faça seu login</a></p>
