<h4 class="text-center">Registre-se e mostre seu pet para o mundo!</h4>

<form
  class="form mt-4"
  [formGroup]="novoUsuarioForm"
  (submit)="cadastrarUsuario()"
>
  <div class="form-group">
    <input
      class="form-control"
      type="email"
      placeholder="E-mail"
      formControlName="email"
    />
  </div>
  <app-mensagem
    mensagem="E-mail obrigatório"
    *ngIf="
      novoUsuarioForm.get('email')?.errors?.required &&
      novoUsuarioForm.get('email')?.touched
    "
  ></app-mensagem>

  <app-mensagem
    mensagem="E-mail no formato inválido"
    *ngIf="
      novoUsuarioForm.get('email')?.errors?.email &&
      novoUsuarioForm.get('email')?.touched
    "
  ></app-mensagem>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
  </div>

  <app-mensagem
    mensagem="Nome incorreto"
    *ngIf="
      novoUsuarioForm.get('fullName')?.errors &&
      novoUsuarioForm.get('fullName')?.touched
    "
  ></app-mensagem>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      placeholder="Usuário"
      formControlName="userName"
    />
    <app-mensagem
      mensagem="Usuário deve ser letra minuscula"
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.minusculo &&
        novoUsuarioForm.get('userName')?.touched
      "
    ></app-mensagem>

    <app-mensagem
      mensagem="Usuario já existe"
      *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      class="form-control"
      type="password"
      placeholder="Senha"
      formControlName="password"
    />

    <app-mensagem
      *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
      mensagem="A senha deve ser diferente do usuário"
    ></app-mensagem>
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já está cadastrado? <a [routerLink]="['']">Faça seu login</a></p>
